/* transparency made to work with gradients */
/* Background Image */
#app-mount {
	background: var(--background-image);
}

/* removing backgrounds */
.container-2lgZY8, .channels-Ie2l6A, .da-app .layer-3QrUeG, .da-app .layers-3iHuyZ, .da-app .chat-3bRxxu, .da-app .channelTextArea-rNsIhG, .da-app .content-yTz4x3, .da-app .messagesWrapper-3lZDfY, .da-app .chat-3bRxxu form, .da-app .members-1998pB, .da-app .headerBar-UHpsPw, .da-app .standardSidebarView-3F1I7i, .da-app .typing-2GQL18 {
	background: transparent;
}
/* chat and top area and other secondary pages */
 .da-app #friends, .contentRegion-3nDuYy, .chat-3bRxxu, .theme-dark .container-1D34oG {
	background: transparent;
	background-image: var(--transparency-3);
 }

/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
	--background-accent: none;
}
